@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --purple: #3B1F2B;
  --red: #DB162F;
  --cream: #DBDFAC;
  --light-blue: #5F758E;
  --dark-blue: #383961;
}

body {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.block {
  text-align: center;
}

button {
  font-size: 1.25rem;
  color: var(--cream);
  background-color: var(--dark-blue);
  padding: 1em;
  border: 5px solid var(--purple);
  cursor: pointer;

  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

/* Gameboard display */
.gameboard {
  border: 10px solid var(--dark-blue);
  border-radius: 3px;
  background-color: var(--dark-blue);

  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 2px;

  width: 40vw;
  height: 40vw;
  box-sizing: border-box;
}

.cell {
  background-color: white;
  border-radius: 2px;
}

.cell:hover {
  background-color: #ddd;
}

.cell.has-ship {
  background-color: var(--light-blue);
}

ul.details {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.25rem;
}

.attacked::before {
  content: '•';
  color: var(--red);
}

.has-ship.attacked {
  background-color: var(--red);
}